@charset "utf-8";


body {
    background-color: #f2f1f0;
}

p {
    color: #52504ef7;
}
img {
    width: 100%;
    height: auto;
}
footer {
    background-color: rgb(89, 89, 125);
    color: black;
}
